body {

  background-color: #333;
  color: #fff;
}

body > .container {
  background-color: #262626;
  border: green 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 40px;
  word-spacing: .5em;
  letter-spacing: .05em;
  font-family: cursive, serif, sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  
}


.jumbotron {
  background-color: #262626;
  border: 4px solid green;
}

.jumbotron .container img {
  width: 30%;
  border-radius: 200px;
}

.container h5 button {
  text-decoration: none;
  color: #fff;
}

.container h5 button:hover{
  text-decoration: none;
  color: green;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* Large devices (desktops, greater than equal to 1200px) */
@media (min-width: 1200px) {
  .navbar {
    padding: 35px;
  }
}
